.jobs-bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
}
.profile-container {
  padding: 30px;
  width: 30%;
  background-color: transparent;
  min-height: 100vh;
}
.profile-display-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 30px;
}
.profile-logo {
  height: 50px;
  margin-bottom: 10px;
}
.profile-name {
  color: #6366f1;
  font-family: 'Roboto';
  margin-bottom: 10px;
  font-weight: 600;
}
.profile-description {
  font-family: 'Roboto';
  color: #2c364c;
  font-size: 12px;
}
.types-heading {
  margin-bottom: 15px;
}
.hr-line {
  margin: 20px 0px;
}
.types-of-employment {
  list-style-type: none;
}
.li-types-of-employment {
  margin: 7px 0px;
}
.checkbox-style {
  margin-right: 4px;
}
.search-container {
  border: 1px solid #ffffff;
  margin: 7px 0px;
  max-width: 500px;
}
.search-bar {
  height: 40px;
  width: 450px;
  outline: none;
  background-color: transparent;
  border: none;
}
.job-details-container {
  padding: 30px;
  width: 70%;
}
.btn-si {
  background-color: transparent;
  outline: none;
  border: none;
  width: 10px;
}
